/* 메인  */
.content {
  width: 100%;
  min-height: 100vh;
}
.main-visual {
  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;
}
.bounce {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 36px;
  right: 50%;
}
.bounce img {
  width: 100%;
}

/* 메인 슬라이드 */
.main-slide {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main-slide_wrap {
  width: 100%;
}
.slide-right {
  width: 1310px;
  height: 842px;
  background-color: rgb(56, 52, 47);
  float: right;
  position: relative;
}
.right-text {
  width: 700px;
  height: 366px;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  line-height: 122px;
  font-weight: 800;
  letter-spacing: 0px;
  color: #640121;
  padding: 150px 0px 0px 350px;
}
.line-1 {
  display: inline-block;
  width: 650px;
  height: 1px;
  background-color: #fff;
  margin-left: 350px;
}
.right-text-shadow {
  width: 700px;
  height: 366px;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  line-height: 122px;
  font-weight: 800;
  letter-spacing: 0px;
  color: #fff;
  padding: 150px 0px 0px 350px;
  position: absolute;
  top: -10px;
  left: -5px;
}
.btn_wrap {
  width: 700px;
  height: 62px;
  display: flex;
  padding: 36px 0 36px 350px;
}
.grade_btn {
  width: 162px;
  height: 62px;
  border-radius: 31px;
  background-color: #ffe7bf;
  margin-right: 38px;
  line-height: 62px;
  text-align: center;
  color: #a10136;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial", Helvetica, sans-serif;
  z-index: 99;
}
.grade_btn.btnActive {
  background-color: #a10136;
  color: #fff;
}
.right-bottom-text {
  width: 700px;
  padding: 36px 0 36px 350px;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.4px;
  color: #ffffffcc;
}

.slide-left {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 111px;
  z-index: 5;
  right: 350px;
}
.swiper {
  position: relative;
  width: 100%;
}
.swiper-wrapper {
  width: 700px;
  height: 700px;
}
.swiper-slide {
  width: 480px;
  height: 620px;
  position: relative;
}
#img1 {
  background: no-repeat;
  background-size: cover;
}
#img2 {
  background: #640121 no-repeat;
  background-size: cover;
}
#img3 {
  background: #640121 no-repeat;
  background-size: cover;
}
#img4 {
  background: #640121 no-repeat;
  background-size: cover;
}
.swiper-slide img {
  width: 100%;
}
.imgNum {
  width: 120px;
  height: 52px;
  background-color: #a10136;
  text-align: center;
  line-height: 52px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Arial";
  color: #fff;
}
.imgText {
  width: 480px;
  height: 60px;
  background-color: #ff869e;
  text-align: center;
  font-size: 14px;
  font-family: "Arial";
  line-height: 60px;
  font-weight: bold;
  letter-spacing: -0.35px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}
.img-pagination {
  width: 480px;
  height: 300px;
  position: absolute;
  left: 0px;

  padding-left: 19%;

  box-sizing: border-box;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
}
.swiper-pagination-bullet-active {
  background-color: #a10136;
}

/* MAP */
.map,
.what {
  width: 100%;
}
.map-wrap {
  width: 100%;
  padding: 0px 150px 82px 0px;
  box-sizing: border-box;
  overflow: hidden;
}

.map-tit {
  width: 100%;
  height: 97px;
  margin-left: 300px;
  margin-top: 20px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  line-height: 40px;
  font-weight: 800;
  color: #a10136;
  display: inline-block;
}

.map-img-wrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

/* what's on */

.what-wrap {
  width: 100%;
  padding: 150px 0 179px 301px;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.what-tit {
  width: 100%;
  height: 97px;
  /* padding-left: 10.94%; */
  text-align: left;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  display: inline-block;
}
.what-title {
  font-size: 80px;
  line-height: 40px;
  font-weight: 800;
  color: #a10136;
}
.arr {
  display: inline-block;
  margin-right: 15.63%;
  float: right;
}
.prev,
.next {
  display: inline-block;
  width: 56px;
  height: 56px;
}
.prev {
  background-image: url(/images/arrow_left.png);
}
.prev:hover {
  background-image: url(/images/arrow_left_hover.png);
}
.next {
  background-image: url(/images/arrow_right.png);
}
.next:hover {
  background-image: url(/images/arrow_right_hover.png);
}
.what-img-wrap {
  width: 100%;
  background-color: #fff;
  display: flex;
}
.what-box {
  width: 420px !important ;
  height: 803px;
  margin-right: 81px;
  background-color: #fff;
  border-bottom: 1px solid #a10136;
}
.what-box:first-child {
  margin-right: 31px;
}
.what-img {
  width: 420px;
  height: 420px;
  position: relative;
}
.img-text {
  width: 420px;
  height: 60px;
  background-color: #a10136;
  display: inline-block;
  position: absolute;
  bottom: 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  padding-left: 40px;
  box-sizing: border-box;
}
.what-text {
  width: 420px;
  margin-top: 80px;
  margin-right: 18px;
}
.what-text span {
  display: inline-block;
  width: 100%;
}
.what-text-tit {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #a10136;
}
.what-text-txt {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 22px;
  color: #ff869e;
  margin-top: 40px;
}
.what-text-more {
  height: 52px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ae0c1e;
  margin-top: 52px;
}
#what-img1 {
  background: url(/images/what01.png) no-repeat;
  background-size: cover;
}
#what-img2 {
  background: url(/images/what02.png) no-repeat;
  background-size: cover;
}
#what-img3 {
  background: url(/images/what03.png) no-repeat;
  background-size: cover;
}
#what-img4 {
  background: url(/images/what04.png) no-repeat;
  background-size: cover;
}
