.wrap2 {
  position: relative;
  background-color: #fff;
}
.map-bg {
  z-index: -2;
}
.map-inner-text {
  position: absolute;
  color: #a10136;
}
.map-inner-circle {
  position: absolute;
  width: 9.5%;
}
.map-inner-line {
  position: absolute;
  display: inline-block;
  background-color: #a10136;
}
.map-inner-text1 {
  font-size: 1.75rem;
  font-weight: 900;
  font-family: "Arial", Helvetica, sans-serif;
}
.map-inner-text2 {
  font-size: 1.375rem;
  font-weight: bold;
  font-family: "Arial", Helvetica, sans-serif;
}

#ko1 {
  width: 1.2%;
  position: absolute;
  top: 39.6%;
  left: 41.4%;
}
#ko2 {
  position: absolute;
  width: 7%;
  top: 12%;
  left: 38%;
}
#ko3 {
  top: 8.2%;
  left: 37%;
}
#ko-line {
  bottom: 59.2%;
  left: 41.7%;
  width: 3px;
  height: 14.3%;
}

.ko-text {
  top: 6.6%;
  left: 48%;
}
#ko4 {
  width: 65%;
  position: absolute;
  top: 30%;
  left: 70%;
}

#line_1to2 {
  position: absolute;
  width: 3.6%;
  top: 41.5%;
  left: 42%;
}
#france1 {
  width: 3.6%;
  position: absolute;
  top: 32.5%;
  left: 7%;
}
#france2 {
  width: 4.5%;
  position: absolute;
  top: 72%;
  left: 11%;
}
#france3 {
  top: 67%;
  left: 8.5%;
}
#france4 {
  width: 58%;
  position: absolute;
  top: 29%;
  left: 63%;
}
#france-line1 {
  top: 35.5%;
  left: 9.3%;
  width: 4%;
  height: 3px;
}
#france-line2 {
  top: 35.5%;
  left: 13.14%;
  width: 3px;
  height: 32.8%;
}

.france-text {
  top: 65.6%;
  left: 19.6%;
}
#line_2to3 {
  position: absolute;
  width: 33.5%;
  top: 35.8%;
  left: 9.8%;
}
#aust1 {
  width: 10.7%;
  position: absolute;
  top: 68.7%;
  left: 38.1%;
}
#aust2 {
  width: 7.5%;
  position: absolute;
  top: 73.5%;
  left: 54%;
}
#aust3 {
  top: 67.7%;
  left: 53%;
}
#aust4 {
  width: 40%;
  position: absolute;
  top: 23%;
  left: 49%;
}
#aust-line {
  top: 76.2%;
  left: 47.5%;
  width: 6%;
  height: 3px;
}
.aust-text {
  top: 66.5%;
  left: 64.3%;
}
.aust-text .flag {
  margin-top: -11px;
}
#line_3to4 {
  width: 3.8%;
  position: absolute;
  top: 49.8%;
  left: 40%;
}
#taiwan1 {
  width: 1%;
  position: absolute;
  top: 49.3%;
  left: 39.3%;
}
#taiwan2 {
  width: 6%;
  position: absolute;
  top: 45%;
  left: 47%;
}
#taiwan3 {
  top: 40.3%;
  left: 45.4%;
}
#taiwan4 {
  width: 64%;
  position: absolute;
  top: 30%;
  left: 60%;
}
#taiwan-line {
  top: 49.8%;
  left: 40%;
  width: 6%;
  height: 3px;
}
.taiwan-text {
  position: absolute;
  top: 40.3%;
  left: 56.1%;
  color: #a10136;
}

/* italy */
#italy1 {
  width: 3%;
  position: absolute;
  top: 35.5%;
  left: 10%;
}
#italy2 {
  width: 6%;
  position: absolute;
  top: 10.5%;
  left: 22.5%;
}
#italy3 {
  top: 6%;
  left: 20.5%;
}
#italy4 {
  width: 70%;
  position: absolute;
  top: 29%;
  left: 84%;
}
#italy-line2 {
  bottom: 54.5%;
  left: 17%;
  width: 3px;
  height: 21%;
}
#italy-line1 {
  top: 24.5%;
  left: 17%;
  width: 10%;
  height: 3px;
}
#grade11-line_1to2 {
  width: 58.8%;
  position: absolute;
  top: 32.5%;
  left: 17.2%;
}
.italy-text {
  top: 4.3%;
  left: 31.3%;
}
/* UAE */
#uae1 {
  position: absolute;
  width: 1%;
  top: 49%;
  left: 22%;
}
#uae2 {
  position: absolute;
  width: 2%;
  top: 62.5%;
  left: 46.5%;
}
#uae3 {
  top: 62.5%;
  left: 42.8%;
}
#uae4 {
  width: 90%;
  position: absolute;
  top: 29%;
  left: 100%;
}
#uae-line1 {
  width: 3px;
  height: 22%;
  top: 50.2%;
  left: 22.5%;
}
#uae-line2 {
  width: 21%;
  height: 3px;
  top: 72.1%;
  left: 22.5%;
}
.uae-text {
  top: 61%;
  left: 53.6%;
}
#grade11-line_2to3 {
  position: absolute;
  width: 17.5%;
  top: 44.5%;
  left: 17.2%;
}
/* malaysia */
#malay1 {
  position: absolute;
  width: 5%;
  top: 59.2%;
  left: 34.5%;
}
#malay2 {
  position: absolute;
  width: 4.5%;
  top: 35%;
  left: 52%;
}
#malay3 {
  top: 32.5%;
  left: 49.5%;
}
#malay4 {
  width: 50%;
  position: absolute;
  top: 29%;
  left: 53%;
}
#grade11-line_3to4 {
  position: absolute;
  width: 21%;
  top: 46%;
  left: 17%;
}
.malay-text {
  top: 31%;
  left: 60.3%;
}
#malay-line1 {
  width: 12%;
  height: 3px;
  top: 42%;
  left: 38%;
}
#malay-line2 {
  width: 3px;
  height: 20%;
  bottom: 38%;
  left: 38%;
}

/* israel */
#israel1 {
  position: absolute;
  width: 0.5%;
  top: 44.8%;
  left: 16.8%;
}
#israel2 {
  position: absolute;
  width: 6%;
  top: 18%;
  left: 28.4%;
}
#israel3 {
  top: 15%;
  left: 26.4%;
}
#israel4 {
  width: 65%;
  position: absolute;
  top: 26%;
  left: 69%;
}
#israel-line1 {
  width: 3px;
  height: 33%;
  top: 46.5%;
  left: 17%;
}
.israel-text {
  top: 13%;
  left: 37.5%;
}

#thai1 {
  position: absolute;
  width: 2%;
  top: 52.5%;
  left: 34%;
}
#thai2 {
  position: absolute;
  width: 10%;
}
.thaidot {
  position: absolute;
  width: 10px;
  top: 54.2%;
  left: 34.5%;
}
#thai-line1 {
  position: absolute;
  height: 3px;
  width: 8%;
  top: 54.7%;
  right: 65.2%;
}
#thai-line2 {
  position: absolute;
  height: 15%;
  width: 3px;
  top: 54.7%;
  left: 26.6%;
}
#thai3 {
  top: 68.5%;
  left: 22%;
}
#thai2 {
  position: absolute;
  width: 3.5%;
  top: 71.5%;
  left: 25%;
}

.flag {
  margin-left: -5px;
  width: 100px;
}
.map-inner-text p {
  margin: 0;
  text-transform: uppercase;
}
.map-inner-text1 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Arial", Helvetica, sans-serif;
}
.map-inner-text2 {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Arial", Helvetica, sans-serif;
}
.thai-text {
  top: 68.5%;
  left: 33%;
}

/* grade12 */

/* USA */
#usa1 {
  position: absolute;
  width: 10%;
  right: 31.5%;
  top: 15%;
}
#usa3 {
  right: 24.5%;
  top: 1.2%;
}
#usa2 {
  position: absolute;
  width: 7.5%;
  right: 25.5%;
  top: 7%;
}

#usa4 {
  width: 90%;
  position: absolute;
  top: 32%;
  left: 100%;
}
#usa5 {
  position: absolute;
  width: 15%;
  top: 33.8%;
  right: 14.8%;
}
#usa-line3 {
  width: 3px;
  height: 10%;
  right: 24.3%;
  bottom: 65%;
}
#usa-line2 {
  width: 5%;
  height: 3px;
  right: 24.3%;
  top: 25%;
}
#usa-line1 {
  width: 3px;
  height: 6%;
  right: 29.1%;
  bottom: 75%;
}
.usa-text {
  left: 77%;
  top: -0.4%;
}
.usa-text .flag {
  margin-left: 5px;
}
#grade12_line_2to3 {
  position: absolute;
  width: 57.5%;
  top: 43.5%;
  right: 24%;
}

#mexico1 {
  position: absolute;
  width: 8%;
  top: 44.8%;
  right: 20%;
}
#mexico2 {
  position: absolute;
  width: 7.8%;
  top: 60%;
  right: 39%;
}
#mexico3 {
  top: 54.5%;
  right: 38.3%;
}

#mexico4 {
  width: 60%;
  position: absolute;
  top: 30%;
  left: 66%;
}
#mexico-line1 {
  width: 19%;
  height: 3px;
  top: 49%;
  right: 24%;
}
#mexico-line2 {
  width: 3px;
  height: 5.6%;
  top: 49%;
  right: 43%;
}
.mexico-text {
  position: absolute;
  top: 54.1%;
  left: 63.2%;
}
/* kenya1 */
#kenya1 {
  position: absolute;
  width: 1.6%;
  top: 62%;
  left: 17.3%;
}
#kenya2 {
  position: absolute;
  width: 7%;
  top: 77%;
  left: 23%;
}
#kenya3 {
  top: 72%;
  left: 21.5%;
}
#kenya4 {
  width: 60%;
  position: absolute;
  top: 30%;
  left: 73%;
}
#kenya-line1 {
  width: 3px;
  height: 17.3%;
  top: 64.2%;
  left: 18.2%;
}
#kenya-line2 {
  width: 4%;
  height: 3px;
  top: 81.5%;
  left: 18.2%;
}
.kenya-text {
  position: absolute;
  top: 70.6%;
  left: 32.5%;
}
#grade12_line_3to4 {
  position: absolute;
  width: 6.9%;
  top: 34.4%;
  left: 12.2%;
}
/* czech */
#czech1 {
  position: absolute;
  width: 1.6%;
  top: 33.5%;
  left: 11.5%;
}
#czech2 {
  position: absolute;
  width: 6%;
  top: 8%;
  left: 24%;
}
#czech3 {
  top: 6.15%;
  left: 22.5%;
}
#czech4 {
  width: 65%;
  position: absolute;
  top: 29%;
  left: 71%;
}
.czech-text {
  position: absolute;
  top: 4.5%;
  left: 33.5%;
}
#czech-line1 {
  width: 3px;
  height: 17.6%;
  bottom: 66.3%;
  left: 12%;
}
#czech-line2 {
  width: 11%;
  height: 3px;
  top: 15.7%;
  left: 12%;
}

.kodot {
  position: absolute;
  width: 10px;
  top: 40.4%;
  left: 41.4%;
}
.francedot {
  position: absolute;
  width: 10px;
  top: 35%;
  left: 9%;
}
.austdot {
  position: absolute;
  width: 10px;
  top: 75.5%;
  left: 43.3%;
}
.taiwandot {
  position: absolute;
  width: 10px;
  top: 49.4%;
  left: 39.8%;
}
.italydot {
  position: absolute;
  width: 10px;
  top: 36%;
  left: 10.8%;
}
.uaedot {
  position: absolute;
  width: 10px;
  top: 49.4%;
  left: 22.2%;
}
.malaydot {
  position: absolute;
  width: 10px;
  top: 60.9%;
  left: 37.8%;
}
.israedot {
  position: absolute;
  width: 10px;
  top: 45.4%;
  left: 16.8%;
}
#grade12_line_1to2 {
  position: absolute;
  width: 57.5%;
  right: 24.2%;
  top: 40.5%;
}
.mexicodot1 {
  position: absolute;
  width: 10px;
  top: 39.8%;
  right: 24%;
}

.mexicodot2 {
  position: absolute;
  width: 10px;
  top: 48.6%;
  right: 23.8%;
}

.kenyadot {
  position: absolute;
  width: 10px;
  top: 63.5%;
  left: 18%;
}
.czechdot {
  position: absolute;
  width: 10px;
  top: 33.5%;
  left: 11.8%;
}

/*animation*/
.map-img-wrap * {
  transition: width 0.5s, height 0.5s;
}
.dn {
  display: none;
}

.dash01 {
  display: initial;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear alternate;
}

.dash02 {
  display: initial;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash2 2s linear alternate;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash2 {
  from {
    stroke-dashoffset: -1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#g-11,
#g-12 {
  display: none;
}
.rotate01 {
  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
